html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  background: url(bckgrnd1.jpg) center no-repeat fixed;
  background-size: cover;
  margin: 0;
}

@font-face {
  font-family: myFont;
  src: url(font.ttf);
}

@font-face {
  font-family: myFont1;
  src: url(font1.ttf);
}

header {
  top: 0;
  left: 0;
  width: 100%;
  font: 6em myFont;
  background-color: black;
  color: white;
  text-align: center;
  letter-spacing: 0.25em;
}


nav {
  left: 0;
  width: 100%;
  margin-top: 0;
}

nav ul {
  list-style-type: none;
  background-color: rgba(128, 128, 128, 0.95);
  overflow: hidden;
  margin: 0;
}

nav ul li {
  float: left;
}

nav ul	li a {
  display: block;
  font:bold 2.5em myFont1;
  padding: 0.1em 0.5em;
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #383838;
  color: white;
  border-radius: 1em;
}

nav ul li ul {
  display:none;
  position: absolute;
}

nav ul li ul li {
  float: none;
}

nav ul li ul li a {
  font-size: 1.5em;
  background-color: black;
  color: white;
  border-radius: 0.5em;
  }

nav ul li:hover ul {
  padding-left: 0;
  display: block;
  background-color: rgba(128, 128, 128, 0)
}

nav ul li ul li a:hover {
  border-radius: 0.5em;
}

div {
  margin-top: 4em;
  color: transparent;
  font-family: myFont1;
  font-weight: bold;
  font-variant: small-caps;
  animation: color 3s linear forwards;
}

@keyframes color {
  0% {
    background-color: rgba(192, 192, 192, 0);
  }
  100% {
    background-color: rgba(192, 192, 192, 0.95);
  }
}

div h1 {
  position: relative;
  margin-top: 0;
  padding-top: 1em;
  text-align: center;
}

div p {
 position: relative;
  font-size: 1.5em;
  text-indent: 2.5em;
  text-align: justify;
  padding: 0 2em;
}

h1, p {
  animation: slide 3s 3s ease-out forwards;
}

@keyframes slide {
  0% {
    left: -100%;
    color: initial;
  }
  100% {
    left: 0;
    color: initial;
  }
}

#secpar {
  padding-bottom: 2em
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font:bold 1em myFont1;
  color: white;
  text-align: center;
}
